/* import da fonte  */

@font-face {
    font-family: "Vitoria";
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Courier";
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: "open";
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}


/* desktop!!!!!!! */

/* esconde  menu hamburguer*/

header #menu-hamburguer {
    display: none;
}

/* reset css  */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



/* formatação layout grid pai  */

.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: 2px;
}


/* ***************HEADER ************** */


/* propriedades css cabeçalho  */

header {
    background-color: #F9003D;
    height: 60px;
}


/* formatação flex  */

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* formatação caixa nav  */

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}


/* formatação link nav  */

header nav a {
    padding: 15px 25px;
    border-radius: 5px;
    font-family: Vitoria;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* ao passar do mouse */

header nav a:hover {
    background-color: white;
    color: #F9003D;
}


/*****************MAIN*******************/


/* !!!!!!!!! banner  */

main .banner {
    height: 740px;
    width: 100%;
    color: white;
    background-color: black;
    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


/* caixa bannerinfo  */

main .banner #bannerinfo {
    width: 600px;
    /* border: 2px solid yellow;  */
}


/* formatação texto h1 do bannerinfo  */

main .banner #bannerinfo h1 {
    font-family: Vitoria;
    color: white;
    width: 600px;
    /* border: 2px solid white; */
    font-size: 96px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFAF00;
}


/* formatação texto *p* do bannerinfo  */

main .banner #bannerinfo p {
    padding-top: 20px;
    font-family: Courier;
    color: #F9003D;
    text-transform: uppercase;
    /* border: 2px solid white; */
    font-size: 53px;
}


/* formatação flexbox  */

main .banner-flex {
    display: flex;
    align-items: center;
}


/* formatação do mouse  */

main .banner #bannerinfo img {
    margin-top: 20px;
}


/* !!!!!!!!!!PROJETOS */

.sobre {
    padding: 60px 0;
}

main .sobrebox {
    margin-top: 60px;
    color: #F9003D;
    font-family: Vitoria;
}

main .sobrebox h2 {
    margin-bottom: 30px;
    font-size: 64px;
    width: 384px;
}



.sobre .sobre-flex {
    display: flex;
  
}

main .participantes {
    margin-top: 120px;
}

main .participantes p{
    color: white;
    font-family: open;
    font-size: 18px;
    width: 557px;
    text-align: left;
    line-height: 20px;
}

.sobre .sobre-flex .participantes h4{
    color: #FFAF00;
    font-family: Vitoria;
    font-size: 64px;
    width: 557px;
    margin-bottom: 20px;

}

.sobre .sobre-flex .participantes h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    width: 228px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;

}

.sobre .sobre-flex {
    display: flex;
    justify-content: space-between;
}

.sobre .sobre-flex .sobrebox {
    width: 500px;
}

.sobre .sobre-flex .participantes {
    width: 640px;
}


/* ********LOCALIZACAO********* */

.localizacao #dados {
    background-image: url(../assets/images/imagem-fundo-endereco.png);
    width: 200px
}

/* ********BODY********* */


/* propriedade css body  */

body {
    background-color: #080324;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 16px;

}


/*************FOOTER ******************/

footer {
    background-color: #F9003D;
    color: white;
}

/* smartphone  */

@media screen and (max-width: 767px) {
    main, footer {
        display: none;
    }

    /* header nav {
        display: none;
    } */

    header nav {
        position: fixed;
        top: 60px;
        left: 0;
        width: 80vw;
        max-width: 360px;
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F9003D;
    }
    
    header nav a {
        width: 150px;
        margin-bottom: 30px;
        border-left: 2px solid #FFAF00;
        border-radius: 0;
        font-size: 24px;
    }

    /* mostra o icone de barras  */
     header #menu-hamburguer {
        display: block;
     }
}


