/* import da fonte  */

@font-face {
    font-family: "Vitoria";
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}


/* reset css  */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* formatação layout grid pai  */

.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

main .banner {
    height: 740px;
    width: 100%;
    color: white;
    background-color: black;
    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
}


/* propriedade css body  */

body {
    background-color: #340B65;
}


/* propriedades css cabeçalho  */

header {
    background-color: #F9003D;
    height: 60px;
}


/* formatação flex  */

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

header nav a {
    padding: 15px 25px;
    border-radius: 5px;
    font-family: Vitoria;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* ao passar do maouse */

header nav a:hover {
    background-color: white;
    color: #F9003D;
}