/* import da fonte  */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Titiblack;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Titibold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Quickregular;
    src: url(../assets/fonts/quickregular/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Titiregular;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

/* reset css  */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    height: 100%;
    width: 90%;

    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-barra {
    right: 0 !important;
}


/* justify content + align  */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BODY  */

body {
    color: white;
}

/* MOBILE FIRST!!!!!!!!!!  */

/* HEADER */

header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
    top: 0px;
    left: 0px;
    padding-bottom: 40px;
}

header .header-top {
    display: none;
}

header nav {
    display: none;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: 0;
    height: 170;
    width: 66px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    right: -80vw;
    transition: right 0.5s;
    z-index: 102;
}

header .header-bottom {
    height: 60px;

}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    width: 80vw;
    z-index: 101;
    height: calc(100vh - 60px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    left: -80vw;
    transition: left 0.5s;

}

header .logo {
    width: 86px;
}

header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 25px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;

}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 28px;

}

/* MAIN  */


main {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 1403px;
    background-image: url(../assets/images/background\ jogadores\ mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(40px);
}

main section .cadastro {
    padding-top: 20px;
}

form {
    padding-top: 80px;

}

main .caixa {
    /* margin-left: 20px; */
    /* display: flex; */
    flex-direction: column;
    border: 1px solid transparent;
     background: 
     /* fundo */
     linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
     /* fundo borda */
     linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
            
    border-radius: 8px;
    width: 335px;
    height: 650px;
    /* background-image: linear-gradient(to right, rgba(27, 20, 38, 0.6), rgba(58, 3, 63, 0.3)); */
    backdrop-filter: blur(4px);
    margin-top: 50px;
}

main .flexinput {
    gap: 40px; 
}

main .titulo-cadastro-equipes {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-cadastro-equipes h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    font-size: 28px;
    font-family: Titiblack;
}

.titulo-cadastro-equipes hr {
    margin-top: 30px;
    width: 250px;
    border: #F9AA01 2px solid;
}

main .id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 30px;
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 273px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main .id input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Titiregular;

}

main .id input::placeholder {
    color: white;
}

main .equipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 30px;
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 273px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main .equipe input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Titiregular;

}

main .equipe input::placeholder {
    color: white;
}

main .jogador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 30px;
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 273px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main .jogador input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Titiregular;

}

main .jogador input::placeholder {
    color: white;
}


main .emailjogador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 30px;
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 273px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main .emailjogador input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Titiregular;

}

main .emailjogador input::placeholder {
    color: white;
}

main .senha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 30px;
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 273px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main .senha input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Titiregular;

}

main .senha input::placeholder {
    color: white;
}

main .imagemequipe {
    margin-top: 60px;
    display: flex;
    align-items: center;
   
}

main a {
    font-size: 24px;
    text-decoration: none;
    width: 268px;
    height: 40px;
    color: black;
    background-color: #F9AA01;
    font-family: Titibold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 31px;
}

main .botao button {
    font-size: Titibold;
    width: 124px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-family: Titibold;
    font-size: 13px;
}


.tabela {
    padding-top: 92px;
}
.tabela .titulotabela h2 {
    text-shadow: 0px 0px 7px black;
    font-size: 20px;
    font-family: Titiblack;
    color: #F9AA01;
    text-transform: uppercase;
}

.tabela .titulotabela #id {
    padding-left: 20px;
    padding-right: 38px;
}

.tabela .titulotabela #nome {
    
    padding-right: 100px;
}

.tabela .titulotabela {
    border-bottom: #F9AA01 4px solid;
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.tabela .caixaequipe {
    margin-top: 25px;
    display: flex;
    align-items: center;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;

       border-radius: 8px;
       width: 333px;
       height: 70px;
}

.tabela .caixaequipe h2 {
    border-right: #F9AA01 2px solid;
    text-shadow: 0px 0px 7px black; 
    padding-right: 22px;
    margin-right: 14px;
    font-size: 18px;
    font-family: Titibold;
}

.tabela .caixaequipe h3 {
    border-right: #F9AA01 2px solid;
    text-shadow: 0px 0px 7px black; 
    padding-right: 9px;
    margin-right: 19px;
    font-size: 18px;
    font-family: Titibold;
}


.tabela .caixaequipe p {
    text-shadow: 0px 0px 7px black; 
    border-right: #F9AA01 2px solid;
    font-size: 20px;
    font-family: Titibold;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 10px;
}



.tabela .caixaequipe .linhajoão {
    margin-top: 9px;
    border-left: #F9AA01 2px solid;
    width: 25px;
    height: 33px;
}


.tabela .caixaequipe .loud {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
}

/* FOOTER ******************************** */

footer{
    padding-top: 110px;
    background-image: url(../assets/images/footer-mobile.png);
    width: 100%;
    height: 1529px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 60px 25px black;
    background-color: #C6A5E5;
}

footer .fraselogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

footer .fraselogo p {
    font-size: 14px;
    font-family: Quickregular;
}

footer .redesfooter {
    display: flex;
    align-items: center;
    gap: 100px;
}

footer .linksuteis {
    margin-top: 70px;
    font-size: 15px;
    font-family: Titiblack;
}

footer .linksuteis hr {
    border: #F9AA01 2px solid;
    width: 112px;
}

footer .contatos {
    margin-top: 50px;
}

footer .contatos p {
    font-size: 16px;
    font-family: Titibold;
} 

footer .contatos h1 {
    font-family: Titibold;
    font-size: 16px;
    color: #F9AA01;
}

footer .contatos h2 {
    font-size: 30px;
    font-family: Titiblack;
}

footer .contatos hr {
    border: #F9AA01 2px solid;
    width: 112px;
}



footer .titulocontatos {
    padding-bottom: 50px;
}

footer .linksuteis {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .link {
    margin-left: 9px;
    display: flex;
    gap: 25px;  
    flex-wrap: wrap;
}

footer .link a {
    text-decoration: none;
    font-size: 16px;
    font-family: Titibold;
    color: white;
}

footer .link hr {
    margin-top: 30px;
    border: #F9AA01 2px solid;
    width: 14px;
}

footer .inicio {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .jogadores {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .noticias {
    padding-right: 10px;
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .login {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .equipes {
    display: flex;
    align-items: baseline;   
    justify-content: center;
    gap: 10px;
}

footer .titulolinks {
    margin-bottom: 30px;
}

footer .titulonews {
    padding-bottom: 40px;
}

footer .newsletter {
    padding-top: 90px;
}

footer .titulonews h2 {
    
    font-size: 30px;
    font-family: Titiblack;

}

footer .titulonews hr {
    border: #F9AA01 2px solid;
    width: 112px;
}

footer .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    /* margin-left: 30px; */
    gap: 10px;
    /* background-color: transparent; */
    border: 1px solid transparent;
    background: 
       /* fundo */
       linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
       /* fundo borda */
       linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    width: 333px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

footer .email input {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Titiregular;
}

footer .email input::placeholder {
    color: white;
}

footer .newsletter a {
    font-size: 24px;
    text-decoration: none;
    width: 333px;
    height: 40px;
    color: black;
    background-color: #F9AA01;
    font-family: Titibold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    /* margin-left: 70px; */
}

footer .footfinal {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    margin-top: 100px;
}

footer .footfinal p {
   padding-right: 56px;
   font-size: 16px;
   font-family: Titiregular;
}
/* ************************************* */

/* DESKTOP  */
/* Tablets >= 768px */
@media screen and (min-width: 768px) {}

/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    header {
        height: 140px;
        position: static;
    }

    .bannerprincipal {
        margin-top: 0;

    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        width: 450px;
        /* border: 2px solid salmon; */
        display: flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Inter;
        font-weight: 400px;


    }

    header .header-top .midias-sociais {
        width: 120px;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        /* border: 2px solid salmon; */
    }

    /* divs phone e mail  */
    header .header-top .contatos>div {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 200px;
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
        padding-bottom: 0;

    }


    header .header-bottom nav>a {
        padding: 0;
        border: none;
        font: 14px;

    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 110px;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        background-image: none;
        display: flex;
        justify-content: space-evenly;
    }

    header .header-bottom {
        height: 90px;
    }

    .bannerprincipal {
        height: 722px;
        background-image: url(../assets/images/principal\ banner.png);
    }

    .maispopular {
        height: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 95px;

    }

    .jogosprincipais img {
        width: 556px;
        height: 313px;

    }

    main .bannerprincipal h1 {
        font-size: 80px;
        width: 444px;
    }


}